<html>
 <head>
  <title>RPX CMS</title>
  <script src="/scripts/jquery-1.7.1.min.js"></script>
  <script src="/scripts/text_list.js"></script>
</head>
 <body>
  <h1>RPX CMS</h1>
  <div style="color:red;" id="results"></div>
  <br/>
  <h2>Current published content items:</h2>
  <div id="text_list">Loading list...</div>
  <br/>
  <h2>Add new item:</h2>
  <form action="#" id="post_form">
    <table width="50%" border="0">
        <tr><td width="20%">Title</td><td width="80%"><input type="text" name="title" id="title"/></td></tr>
        <tr><td>Content</td><td><input type="text" name="content" id="content"/></td></tr>
        <tr><td>Page</td><td><input type="text" name="page" id="page"/></td></tr>
        <tr><td>Block</td><td><input type="text" name="block" id="block"/></td></tr>
        <tr><td>&nbsp;</td><td><input type="submit" name="Save"/></td></tr>
    </table>
  </form>

   <script language="javascript">
     // This sucks. It is just so we can call a JQuery function, which is defined in text_list.js
     // In there it declares the function, then assigns it to this global variable. Sorry about that.
     text_list_function = null;

     var delete_item = function(content_id) {
      $.ajax({
        type: "POST",
        url: "/api/v1/cms/text/" + content_id,
        data: { delete: 'true' },
        success: function(data) {
          $('#results').text(data.result);
          text_list_function();     // Now we can call the hidden JQuery function to redraw the list
        }
      });
  }
   </script>
 </body>
</html>
