<!DOCTYPE html>
<html lang="en">
<head>
  <title>DisContent Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
</head>
<body>

<div class="container">

  <% if flash.has?(:notice) %>
      <div class="row">
        <div class="span4" style="height: auto; background-color: #C0FFB0">
          <h4 style="color:red; margin: 5px;"><i class="icon-info-sign"></i> <%= flash[:notice] %></h4>
        </div>
        <br/>
        <br/>
      </div>
  <% end %>

  <%= yield %>

</div>

<script src="/scripts/jquery-1.7.1.min.js"></script>
<script src="/scripts/bootstrap-tab.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="http://js.nicedit.com/nicEdit.js"></script>

<script language="javascript">
    $("#status").fadeOut(5000);
    <%= @add_on_js %>
</script>
</body>
</html>
